<div class="bartender-card">
    <style>
        .blog-hero {
            background-image: url(p3.png);
            background-size: cover;
        }

    </style>
    {{!-- <img class="bartender" src="images/p3.png">
    <img class="bartender" src="images/p3.png"> --}}
    <!-- <img class="bartender" src="images/p3.png"> -->

    <div class="hero-blog">
        <div class="row">
            <div class="col-9">
                <h1 class="has-text-primary-light is-size-1 has-text-centered mobile has-text-weight-bold mt-5">
                    bartender blog</h1>
            </div>
            <div class="col-3">
                <img class="logo-blog" style="width: 18em;" src="./images/logo-drink-removebg-preview.png">
            </div>
        </div>
    </div>

    <ol class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
        <p>At least they should be here</p>
    </ol>

    <div class="card-sequence">

        <div class="row">

            <div class="col-2">
                <div class="card" style="width: 18em;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">RANDOM POST</p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card" style="width: 18em;">
                    <a href="/dashboard/create/">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        </a>
                        <div class="card-body">
                        <p class="card-text">CREATE A POST</p>
                        </div>
                    
                </div>
            </div>    
            
            <div class="col-2">
                <div class="card" style="width: 18em;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">DRINK OF THE DAY</p>
                    </div>
                </div>
            </div>    
            
            <div class="col-2">
                <div class="card" style="width: 18em;">
                    <a href="/featured-posts">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">FEATURED POSTS</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-2">
                <div class="card" style="width: 18em;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">RANDOM POST</p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card" style="width: 18em;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">RANDOM POST</p>
                    </div>
                </div>
            </div>

        </div>

        

    </div>
</div>