<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE Cocktail Menu</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- {{!-- Google Fonts Used WORK SANS --}} -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- {{!-- Google Fonts Used ROBOTO SLAB --}} -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@319&display=swap" rel="stylesheet">

    <!-- {{!-- BULMA --}} -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!-- {{!-- BOOTSTRAP --}} -->
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha304-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha304-MrcW6ZMFYlzcLA0Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- local CSS stylesheet-->
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <div class="bartender-card">
        <img class="bartender" src="images/p3.png">
        <img class="bartender" src="images/p3.png">
        <!-- <img class="bartender" src="images/p3.png"> -->

        <div class="hero-blog">
            <div class="row">
                <div class="col-9">
                    <h1 class="has-text-primary-light is-size-1 has-text-centered mobile has-text-weight-bold mt-5">
                        bartender blog</h1>
                </div>
                <div class="col-3">
                    <img class="logo-blog" style="width: 18em;" src="./images/logo-drink-removebg-preview.png">
                </div>
            </div>
        </div>


        <div class="card-sequence">

            <div class="row">

                <div class="col-2">
                    <div class="card" style="width: 18em;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">RANDOM POST</p>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card" style="width: 18em;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">CREATE A POST</p>
                        </div>
                    </div>
                </div>    
                
                <div class="col-2">
                    <div class="card" style="width: 18em;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">DRINK OF THE DAY</p>
                        </div>
                    </div>
                </div>    
                
                <div class="col-2">
                    <div class="card" style="width: 18em;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">FEATURED POSTS</p>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card" style="width: 18em;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">RANDOM POST</p>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card" style="width: 18em;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">RANDOM POST</p>
                        </div>
                    </div>
                </div>

            </div>

            

        </div>
    </div>
















    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha304-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ0Zj3iwWAwPtgFTxbJ0NT4GN1R0p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha304-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>