<section class="form text-white">
        <h1>contact us</h1>
        <form>
            <h2>Name </h2>
            <input type="text"></input>
            <h2>Email</h2>
            <input type="email"></input>
            <h2>Message</h2>
            
            <textarea placeholder=""></textarea>
            <input type="submit"></input>
        </form>
 </section>