<article>
    <a href="/dashboard"><button class="btn-no-style"> &larr; Back to dashboard</button></a>
    <h2>Create Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here" />
        </div>
        <div>
            <label for="post-content">Content: </label>
            <input class="textarea" type="text" id="post-content" name="post-content" placeholder="insert blog content here"  />
        </div>
        <button type="submit">Create post</button>
    </form>
</article>

<script src="/javascript/add-post.js"></script>