<div class="container">
</div>

    <figure class="image-is-128x128">
        <img src="big-logo.png" alt="logo">
    </figure>

<ol class="tile post-list"> 
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>