<div class="container">BOX
</div>

    <figure class="image-is-128x128">
        <img src="../public/images/bloody-mary.jpg">
    </figure>

<ol class="tile post-list"> 
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>