<div class="container">

    <div id="parent">
        <div id="narrow">
            <figure class="hero">
                <img src="big-logo-removebg-preview.png" alt="logo">
            </figure>
        </div>
        <div id="wide">
            <ul class="post-list">
                {{#each posts as |post|}}
                <li>
                    {{> post-info post }}
                </li>
                {{/each}}
            </ul>
        </div>

    </div>
</div>