<div id="parent">
    <div id="narrow">

        <img src="cropped_logo-removebg-preview.png" id="logo">
    </div>
    <div id="wide">

        <div id="in-wide">
            <div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <div class="container">
                                    <img src="champagne-cocktail.jpg" style="width:100%;">
                                    <div class="centered">OLD FASHIONED</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="manhattan.jpg">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="whiskey-sour.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <img src="margarita.jpg">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="bloody-mary.jpg">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="pina colada.jpg">
                            </div>
                        </div>
                    </div>
                </div>




                <ul class="post-list">
                    {{#each posts as |post|}}
                    <li>
                        {{> post-info post }}
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>