<div id="parent">
    <div id="narrow">

        <img src="cropped_logo-removebg-preview.png" id="logo">
    </div>
    <div id="wide">

        <div id="in-wide">
            <div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                    <img src="champagne-cocktail.jpg" style="width:100%;">
                                    <div class="centered">OLD FASHIONED</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="manhattan.jpg">
                                <div class="centered">MARTINI</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="whiskey-sour.jpg">
                                <div class="centered">DAIQUIRI</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <img src="margarita.jpg">
                                <div class="centered">SIDECAR</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="bloody-mary.jpg">
                                <div class="centered">WHISKEY HIGHBALL</div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img src="pina colada.jpg">
                                <div class="centered">FLIP</div>
                            </div>
                        </div>
                    </div>
                </div>

                   {{!-- <div class="card col s12 m6 13 container box">
                    <div class="card-image" id="card-3">
                        <img class="post-6" src="pina colada.jpg">
                    </div>
                </div> --}}


                <form class="post-search">
                    <div>
                        <label for="search-area">Choose a liquor to search for here:</label>
                        <select id="search-area" name="search-area">
                            <option value="Gin">Gin</option>
                            <option value="Rum">Rum</option>
                            <option value="Tequila">Tequila</option>
                            <option value="Vodka">Vodka</option>
                            <option value="Whiskey">Whiskey</option>
                        </select>
                    </div>
                    <a href="/search"><button type="submit" class="button">Search</button></a>
                </form>

                <section id="drink-section"></section>


                <ul class="post-list">
                    {{#each posts as |post|}}
                    <li>
                        {{> post-info post }}
                    </li>
                    {{/each}}
                </ul>
            </div>

    </div>

</div>


<script src="/javascript/search.js"></script>

