<div class="row">
    <div id="parent">
        <div id="narrow">

            <img src="cropped-transparent-logo.png" id="logo">
        </div>
        <div id="wide">

            <div id="in-wide">
                <div>

                    {{!-- SEARCH BAR --}}
                    <div class="div-login">
                        <input type="text" id="search-bar" class="form-control search-input" placeholder="SEARCH" />
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="card">
                                    <img src="champagne-cocktail.jpg" style="width:100%;">
                                    <div class="centered">OLD FASHIONED</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <img src="manhattan.jpg">
                                    <div class="centered">MARTINI</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <img src="whiskey-sour.jpg">
                                    <div class="centered">DAIQUIRI</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="card">
                                    <img src="margarita.jpg">

                                    <div class="centered">SIDECAR</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <img src="bloody-mary.jpg">
                                    <div class="centered">WHISKEY HIGHBALL</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <img src="pina colada.jpg">
                                    <div class="centered">FLIP

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- NEED TO PUT THIS POST LIST INTO THE TOP SIX TILES --}}
                    {{!-- <ul class="post-list">
                        {{#each posts as |post|}}
                        <li>
                            {{> post-info post }}
                        </li>
                        {{/each}}
                    </ul> --}}

                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <form class="post-search">

             <label for="search-area">
                    <h4 class="search-directions">Choose a liquor to search for here:</h4>
                </label>


                
                <select id="search-area" name="search-area">
                    <option value="Gin">Gin</option>
                    <option value="Rum">Rum</option>
                    <option value="Tequila">Tequila</option>
                    <option value="Vodka">Vodka</option>
                    <option value="Whiskey">Whiskey</option>
                </select>
              
                <a href="/search"><button type="submit" class="search-button button is-dark">Search</button></a>
        </form>
    </div>
</div>


{{!-- ____________________________DRINK RESULT CARDS_______________________________ --}}

<div class="row">
    <div class="col-12">
        <div id="drink-section" class="row">

            
        </div>
    </div>
</div>
</div>

<script src="/javascript/search.js"></script>