<section class="hero-welcome">
    <style>
    .hero-welcome {
        background-image: url(hero.jpg);
        background-size: cover;
    }
    </style>
    <section class="login-form-wrapper">
        <section class="login-head">
            <div>
                <h1>login</h1>
            </div>
        </section>
        <form class="login-form">
            <div class="div-login">
                <input type="text" id="username-login" class="form-control login-input" placeholder="USERNAME"/>
            </div>
            <div class="div-login">
                <input type="password" id="password-login" class="form-control login-input" placeholder="PASSWORD"/>
            </div>
            <div class="div-login">
                <button type="submit" class="button login-button">log in</button>
            </div>
            <div>
                <a href="/signup" style="text-decoration: none;"><button type="button" class="button create">Create an account</button></a>
            </div>
        </form>
    </section>
</section>

<script src="/javascript/login.js"></script>