<section class="hero-welcome">
    <style>
    .hero-welcome {
        background-image: url(hero.jpg);
        background-size: cover;
    }
    </style>
    <section class="signup-form-wrapper">
        <section class="signup-head">
            <div>
                <h1>signup</h1>
            </div>
        </section>
        <form class="signup-form">
            <div class="div-signup">
                <input type="text" id="username-signup" class="form-control signup-input" placeholder="USERNAME"/>
            </div>
            <div class="div-signup">
                <input type="password" id="password-signup" class="form-control signup-input" placeholder="PASSWORD"/>
            </div>
            <div class="div-signup">
                <button type="submit" class="button signup-button">sign up</button>
            </div>
        </form>
    </section>
</section>

<script src="./javascript/signup.js"></script>