{{> post-info post}}

{{#if loggedIn}}
<form class="save-post">
    <div>
        <button type="submit" class="save-post-btn">save post</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/save-post.js"></script>
{{/if}}