:root {
    --first: #21F5FF;
    --second: #FF5E00;
    --third:#292b2c;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    background-color:var(--third);
}

/*------------------------HEADER AND NAV------------------------*/
.title-logo {
    color: var(--first);
    font-size: 50px;
    background-color: var(--third);
}


/*------------------------LOGIN SECTION-------------------*/
.hero img {
    width: 100%;
    margin-top: 60px;
}

#logo {
  margin-top: 50px;
}

#search-bar {
    margin-top: 50px;
}

.login-form-wrapper {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--third);
}

.login-head {
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.login-form {
    width: 100%;
}

.div-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-input {
    background-color: var(--third);
    border-color: white;
    border-radius: 2px;
    border-width: 3px;
    margin: 0 10px 10px 10px;
}


.login-input::placeholder {
    color: white;
}

.login-button {
    font-size: 20px;
    width: 40%;
    font-weight: bold;
    margin: 10px;
    border-radius: 25px;
}

.login-button:hover {
    font-size: 21px;
    width: 40%;
    font-weight: bold;
    margin: 0px 10px 20px 10px;
    border-radius: 25px;
    background-color: var(--first);

}

.create {
    color: var(--first);
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--first);
}

.create:hover {
    color: white;
    border-bottom: 2px solid white;
}

.signup-form-wrapper {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--third);
}

.signup-head {
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.signup-form {
    width: 100%;
}

.div-signup {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-input {
    background-color: var(--third);
    border-color: white;
    border-radius: 2px;
    border-width: 3px;
    margin: 0 10px 10px 10px;
}

.signup-input::placeholder {
    color: white;
}

.signup-button {
    font-size: 20px;
    width: 40%;
    font-weight: bold;
    margin: 10px 10px 20px 10px;
    border-radius: 25px;
}

.signup-button:hover {
    font-size: 21px;
    width: 40%;
    font-weight: bold;
    margin: 0px 10px 20px 10px;
    border-radius: 25px;
    background-color: var(--first);

}

/*------------------------PHOTO GRID / MAIN SECTION-------------------*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:var(--third);
    font-weight: bold;
}

.card img {
    height: 100px;
    width: auto;
    opacity: .6;
}


.card {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#parent {
    display: flex;
  }
  #narrow {
    width: 300px;
  }

  #wide {
    flex: 1;
  }
/*------------------------DRINK SEACRCH ------------------------*/

.search-button {
    font-size: 20px;
    width: 40%;
    font-weight: bold;
    margin: 0px 10px 20px 10px;
    border-radius: 25px;

}
.search-button:hover {
    font-size: 21px;
    width: 40%;
    font-weight: bold;
    margin: 0px 10px 20px 10px;
    border-radius: 25px;
    background-color: var(--first);

}

/*------------------------FOOTER------------------------*/

footer {
    background-color: #FF5E00;
}

.logo {
    color: white;
}

.col {
    color: white;
}

.cocktail-logo {
    width: 20%;
}



.post-list {
    color: var(--first);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
  }

.col {
    flex: 33%;
    max-width: 33%;
    padding: 0 3px;
  }
  
  .col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


#drink-section img{
    width: 25%;
    height: auto;
}