body {
    background-color: #292b2c;
}

footer {
    background-color: #FF5E00;
}

.logo {
    color: white;
}

.col {
    color: white;
}

.cocktail-logo {
    width: 20%;
}

.title-logo {
    color: #21F5FF;
    font-family: 'Roboto Sans';
    font-size: 50px;
}

.post-list {
    color: #292b2c;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
  }

.col {
    flex: 33%;
    max-width: 33%;
    padding: 0 3px;
  }
  
  .col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }